@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css?family=Montserrat:900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:900');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #141414;
  --transition-time: 1s;
}

* {
  cursor: none;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Montserrat, sans-serif;
  background-color: #141414;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

#section-1, #section-2, #section-3, #section-4, #section-5, #section-6{
  min-height: 100vh;
  width: 100%;
  margin: 0;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.3s ease;
}

.custom-cursor.scale-up {
  transform: scale(5);
  transition: transform 0.3s ease;
}

.background {
  background-image: url(https://images.unsplash.com/photo-1510134659073-54f147c0afc2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2128&q=80);
  background-size: cover;
  background-position: 50% 50%;
  background-clip: text;
  height: 100vh;
  font-weight: bold;
  font-size: 12rem;
  -webkit-text-fill-color: transparent;
  position: relative;
  display: flex;
  align-items:flex-end;
  justify-content: center;
  overflow: hidden;
}
  .background:before {
      content: '';
      background-image: inherit;
      background-size: cover;
      background-position: 50% 50%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -2;
  }

  .hero-h1 {
    display: none;
  }

h1 {
  position: absolute;
  text-align: center;
  width: 100%;
  color: #fefefe;
}

.zoom-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.zoom {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.zoom-circle {
  height: 30vw;
  width: 30vw;
  border-radius: 100vw;
  background-color: white;
  mix-blend-mode: difference;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-self: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.zoom-content {
  color: white;
  mix-blend-mode: difference;
  position: absolute;
  justify-self: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vw;
  margin: 0;
}

.horizontal-scroller {
  margin-top: -2.5px;
  display: grid;
  grid-template-rows: repeat(2, 2fr);
  gap: 5px;
  width: 100%;
  height: 100vh;
}

.horizontal-wrapper {
  width: 100%;
  height: 100vh;
}

.horizontal-container {
  width: 100%;
  height: 100vh;
  margin-top: 2em;
}

.row {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

.filled {
  backdrop-filter: blur(8px);
  background: #ffaa00;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  text-shadow: 2px 2px 2px black;
}

.glass-effect {
  backdrop-filter: blur(50px);
  background: grey;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.7), 0 1px 3px #ffaa00;
}

.button-clicked {
  transform: scale(0.95);
}

#back{
  position:relative;
  padding-top:50%;
  text-align:center;
  font-size:1.5em;
  cursor:pointer;
}

.main-title {
  text-align:center;
  position:relative;
  top:100px;
  font-size:6em;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
    color: black;
  -webkit-text-fill-color: #ffaa00;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

nav{
	position: fixed;
	top: 5%;
	bottom: auto;
	z-index: 10;
  mix-blend-mode: difference;
}
ul{
	list-style: none;
	padding: 0;
}
li{
	padding: 10px 0;
}
.nav-style{
	display: inline-block;
	position:relative;
}
nav a{
	display: inline-block;
	color: #F6F5F8;
	text-decoration: none;
	font-size: 1em;
}
.circle{
	height: 10px;
	width: 10px;
	left: -10px;
	border-radius: 50%;
	background-color: #F6F5F8;
}
.rect{
	height: 3px;
	width: 0px;
	left: 0;
	bottom: 4px;
	background-color: #F6F5F8;
	-webkit-transition: -webkit-transform 0.6s, width 1s;
	-moz-transition: -webkit-transform 0.6s, width 1s;
	transition: transform 0.6s, width 1s;
}

nav a:hover, nav .active-section{
	color: #ffaa00;
  cursor: pointer;
}
nav a:hover span, nav .active-section span{
	background-color: #ffaa00;
}
nav .active-section .rect{
	width: 40px;
  mix-blend-mode: difference;
}

.projects-section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  height: 500px;
  width: 700px;
  transition: ease all var(--transition-time);
  perspective: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
}

.card:hover .cover {
	transform: rotateX(0deg) rotateY(-180deg);
}

.card:hover .cover:before {
	transform: translateZ(30px);
}

.card:hover .cover:after {
	background-color: black;
}

.card:hover .cover h1 {
	transform: translateZ(100px);
}

.card:hover .cover p {
  transform: translateZ(-60px) rotatey(-180deg);
}

.card:hover .cover a {
	transform: translateZ(-60px) rotatey(-180deg);
}

.cover {
	position: absolute;
	height: 100%;
	width: 100%;
	transform-style: preserve-3d;
	transition: ease all var(--transition-time);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
  border-radius: 20px;
}

.cover:before {
	content: '';
	position: absolute;
	border: 5px solid rgba(255, 255, 255, .5);
	box-shadow: 0 0 12px rgba(0, 0, 0, .3);
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	z-index: 2;
	transition: ease all var(--transition-time);
	transform-style: preserve-3d;
	transform: translateZ(0px);
  border-radius: 20px;
}

.cover:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 2;
	transition: ease all 1.3s;
	background: rgba(0, 0, 0, .5);
  border-radius: 20px;
}

.cover.item-a {
	background-image: url('./img/portfolio.png');
}

.cover.item-b {
	background-image: url('./img/luxe.png');
}

.cover.item-c {
	background-image: url('./img/tekforest.png');
}

.cover.item-d {
	background-image: url('./img/manynanny.png');
}

.cover.item-e {
	background-image: url('./img/spaceknight.png');
}

.cover.item-f {
	background-image: url('./img/tamagotchi.png');
}

.cover h1 {
	font-weight: 600;
	position: absolute;
	bottom: 55px;
	left: 50px;
	color: white;
	transform-style: preserve-3d;
	transition: ease all var(--transition-time);
	z-index: 3;
	font-size: 3em;
	transform: translateZ(0px);
}

.card-back {
	position: absolute;
	height: 100%;
	width: 100%;
	background: #0b0f08;
	transform-style: preserve-3d;
	transition: ease all var(--transition-time);
	transform: translateZ(-1px);
  border-radius: 20px;
}

.card-back p, .card-back a {
	transform-style: preserve-3d;
	transition: ease transform var(--transition-time), ease background .5s;
	transform: translateZ(-1px) rotatey(-180deg);
	background: transparent;
	border: 1px solid white;
	padding: 14px 32px;
	outline: none;
	text-decoration: none;
  border-radius: 20px;
  
}

.card-back a:hover {
	background-color: #ffaa00;
	color: #0b0f08;
  cursor: pointer;
}

.section-5 {
  width: 100vh;
  height: 100vh;
}

.skills-ul li {
  list-style:none;
}

.skills-ul li a .fa {
  font-size: 40px;
  color: #262626;
  line-height:80px;
  transition: .5s;
  padding-right: 14px;
}

.skills-ul li a span {
  padding:0;
  margin:0;
  position:absolute;
  top: 30px;
  color: #262626;
  letter-spacing: 4px;
  transition: .5s;
}

.skills-ul li a {
  text-decoration: none;
  display:absolute;
  display:block;
  width:240px;
  height:80px;
  background: #fff;
  text-align:left;
  padding-left: 20px;
  transform: rotate(-30deg) skew(25deg) translate(0,0);
  transition:.5s;
  box-shadow: -20px 20px 10px rgba(0,0,0,.5);
}

.skills-ul li a:before {
  content: '';
  position: absolute;
  top:10px;
  left:-20px;
  height:100%;
  width:20px;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewY(-45deg);
}
.skills-ul li a:after {
  content: '';
  position: absolute;
  bottom:-20px;
  left:-10px;
  height:20px;
  width:100%;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewX(-45deg);
}

.skills-ul li a:hover {
  transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
  box-shadow: -50px 50px 50px rgba(255, 255, 255, 0.2);
}

.skills-ul li:hover .fa {
  display: none;
}

.skills-ul li:hover span {
  display: none;
}

.skills-ul li:hover:nth-child(1) a{
  background: url('./img/html.png');
  background-color: #ffaa00;
  background-size: contain;
}
.skills-ul li:hover:nth-child(1) a:before{
  background: #977b40;
}
.skills-ul li:hover:nth-child(1) a:after{
  background: #907635;
}

.skills-ul li:hover:nth-child(2) a{
  background: url('./img/css.png');
  background-color:#ffaa00;
  background-size: contain;
}
.skills-ul li:hover:nth-child(2) a:before{
  background: #977b40;
}
.skills-ul li:hover:nth-child(2) a:after{
  background: #907635;
}

.skills-ul li:hover:nth-child(3) a{
  background: url('./img/javascript.png');
  background-color: #ffaa00;
  background-size: contain;
}
.skills-ul li:hover:nth-child(3) a:before{
  background: #977b40;
}
.skills-ul li:hover:nth-child(3) a:after{
  background: #907635;
}

.skills-ul li:hover:nth-child(4) a{
  background: url('./img/python.png');
  background-color: #ffaa00;
  background-size: contain;
}
.skills-ul li:hover:nth-child(4) a:before{
  background: #977b40;
}
.skills-ul li:hover:nth-child(4) a:after{
  background: #907635;
}

.skills-ul li:hover:nth-child(5) a{
  background: url('./img/reactjs.png');
  background-color: #ffaa00;
  background-size: contain;
}
.skills-ul li:hover:nth-child(5) a:before{
  background: #977b40;
}
.skills-ul li:hover:nth-child(5) a:after{
  background: #907635;
}

.skills-ul li:hover:nth-child(6) a{
  background: url('./img/nodejs.png');
  background-color: #ffaa00;
  background-size: contain;
}
.skills-ul li:hover:nth-child(6) a:before{
  background: #977b40;
}
.skills-ul li:hover:nth-child(6) a:after{
  background: #907635;
}

.skills-ul li:hover:nth-child(7) a{
  background: url('./img/flask.png');
  background-color: #ffaa00;
  background-size: contain;
}
.skills-ul li:hover:nth-child(7) a:before{
  background: #977b40;
}
.skills-ul li:hover:nth-child(7) a:after{
  background: #907635;
}

.skills-ul li:hover:nth-child(8) a{
  background: url('./img/postgresql.png');
  background-color: #ffaa00;
  background-size: contain;
}
.skills-ul li:hover:nth-child(8) a:before{
  background: #977b40;
}
.skills-ul li:hover:nth-child(8) a:after{
  background: #907635;
}

.skills-ul li:hover:nth-child(9) a{
  background: url('./img/mongodb.png');
  background-color: #ffaa00;
  background-size: contain;
}
.skills-ul li:hover:nth-child(9) a:before{
  background: #977b40;
}
.skills-ul li:hover:nth-child(9) a:after{
  background: #907635;
}

.skills-ul li:hover:nth-child(10) a{
  background: url('./img/bootstrap.png');
  background-color: #ffaa00;
  background-size: contain;
}
.skills-ul li:hover:nth-child(10) a:before{
  background: #977b40;
}
.skills-ul li:hover:nth-child(10) a:after{
  background: #907635;
}

.skills-ul li:hover:nth-child(11) a{
  background: url('./img/tailwind.png');
  background-color: #ffaa00;
  background-size: contain;
}
.skills-ul li:hover:nth-child(11) a:before{
  background: #977b40;
}
.skills-ul li:hover:nth-child(11) a:after{
  background: #907635;
}

.skills-ul li:hover:nth-child(12) a{
  background: url('./img/git.png');
  background-color: #ffaa00;
  background-size: contain;
}
.skills-ul li:hover:nth-child(12) a:before{
  background: #977b40;
}
.skills-ul li:hover:nth-child(12) a:after{
  background: #907635;
}

.skills-ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width: 100%;
  height: 100vh;
  padding: 10rem;
}

.skills-ul li {
  list-style:none;
  margin:0 5px;
}

.indicator {
  overflow: hidden;
  animation: morph 3s linear infinite;
}

  @media (max-width: 1440px) {
    .background {
      font-size: 8rem;
    }
  }

  @media (max-width: 600px) {
  .background {
    font-size: 5rem;
  }
  .card {
    height: 350px;
    width: 370px;
  }
  .cover h1 {
    font-size: 2em;
  }
  .card-back {
    padding: 1px;
  }
  .card-back a {
    padding: 10px;
  }
  .card-back p {
    font-size: 10px;
  }
  nav{
    display: none;
  }
  .hero-h1{
    display: inline;
  }
  #back{
    cursor:none;
    font-size:0.8em;
  }
  #text{
    top:70px;
    font-size:2.25em;
  }
  .zoom-circle {
    height: 50vw;
    width: 50vw;
    top: 100%;
  }
  .zoom-content {
    top: 100%;
    font-size: 6vw;
  }
  .zoom {
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
  }
  .custom-cursor {
    display: none;
  }
}

@media (max-width: 800px) {
  .skills-ul li a span {
    top: 20px;
    color: #262626;
    letter-spacing: 1px;
    transition: .5s;
  }
  .skills-ul li a {
    width:120px;
    height:60px;
    padding-left: 0px;
    transform: rotate(-30deg) skew(25deg) translate(0,0);
    transition:.5s;
    box-shadow: -20px 20px 10px rgba(0,0,0,.5);
  }
  .skills-ul li a .fa {
    font-size: 10px;
    color: #262626;
    line-height:10px;
    transition: .5s;
    padding-right: 10px;
  }
  .horizontal-container {
    overflow-x: scroll;
  }
}

@keyframes morph {
  0%,
  100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
  }
  34% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}
